@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');
.navwrapper {
    /* width: 100vw; */
    height: 10rem;
    display: flex;
    align-items: center;
    
    /* padding: 0rem 10rem; */
    /* background-color: rgb(159, 226, 159); */
    /* background-color: #C8E0CA; */
    background-color: #145858;
    color: rgb(250, 250, 250);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* font-family: 'Mukta Malar', sans-serif; */
    justify-content: space-around;
}
.heading{
    font-size: 54px;
    margin: 0;
    padding: 0;
    cursor: default;
    align-self: flex-start;
    padding-left: 10rem;
}
.input{
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 1px;
    cursor:text;
}
.hamburger{
    display: none;
}
.navwrapper a{
    all: unset;
}

@media only screen and (max-width: 600px) {
    .navwrapper{
        width:100%;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    .navwrapper h1{
        font-size: 3rem;
        padding-bottom: 1rem;
        padding-left: 0;
    }
    .hamburger{
        display: block;
        position: absolute;
        right:85%;
        top: 10%;
        font-size: 20px;
        width: 3rem;       
    }
    .hamburger hr{
        color: rgb(255, 255, 255);
    }
    .input{
        padding: 0.4rem 2rem;
        align-self: center;
        margin: auto;
    }
    .form{
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        width: 100%;

    }
    }