.bigwrapper {
    min-height: 100vh;
    /* background-color: peachpuff; */
    background-color: #C9E0CA;

    /* width: 100vw; */
    position: relative;
    display: flex;
    
}
.recipewrap{
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    align-self: center;
    margin: auto;
}
.card{
    /* background-color: rgba(211, 192, 201, 0.404); */
    background-color: #dbecdc;
    width: min-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;    
}
.card>h1{
    padding: 0rem 0rem 4rem 0rem;
    font-size: 34px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bigimg{
    height: 350px;
    width: 350px;
    border-radius: 40% 20%;
    transition: 300ms;
    margin-right: 5rem;

}


.imgdescr{
    display:flex;
    align-items: center;
}
.rating{
    padding-left: 2rem;
}
.instructions{
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-top: 4rem;
}
.lists{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.nodec{
    list-style-type: none;
    padding: 0;
}
.vegan{
    list-style: utl(Ⓥ);
}
.ul{
    padding: 0;
}

@media only screen and (max-width: 600px) {
    html{
        margin: 0;
        width: auto;
    }
    .card h1{
        padding:2rem 0rem;
    }
    .bigwrapper{
        box-sizing: border-box;
        padding-bottom: 4rem;
    }
    .imgdescr{
        display: flex;
        flex-direction: column;
        width: 90%;
    
        background-color:#145858;
        color: white;
        /* text-align:bottom; */
    }
    .bigimg{
        /* box-sizing:inherit;*/
        width: 100%; 
        /* aspect-ratio: 1/1; */
        /* width:max-content; */
        
        border-radius: 0px;
        height: 15rem;
        margin: 0;
    }
    .rating{
        padding: 0;
        text-align: center;
    }
    .card{
     width: 80%;
     padding: 0px 15px 0px 15px;
     align-self: center;
     text-align: center;
     margin-top: 4rem;
     
    }
    .instructions{
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .recipewrap{
        flex-direction: column;
    }
    .lists{
        width: 80%;
        
    }
     li{
        padding-bottom: 15px;
    }
    .lists:nth-of-type(2){
        text-align: left;
    }
}