.wrapper{
    background-color: peachpuff;
    width: 20vw;
    padding: 2rem 2rem 0rem 2rem;
    box-shadow:
    6px 0px 4.9px rgba(0, 0, 0, 0.005),
    14.4px 0px 11.7px rgba(0, 0, 0, 0.01),
    27.2px 0px 22px rgba(0, 0, 0, 0.015),
    48.5px 0px 39.3px rgba(0, 0, 0, 0.022),
    90.7px 0px 73.5px rgba(0, 0, 0, 0.035),
    217px 0px 176px rgba(0, 0, 0, 0.07)
  ;
    
}
.wrapper>h1{
    margin: 0rem 0rem 5rem 0rem;
    text-align: center;
}
.wrapper>h2{
    transition: 500ms;
    cursor: pointer;

}
.wrapper>h2:hover{
    text-decoration: underline;
    transform: translateX(10px);
}
